@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body{
    font-family: "Poppins", sans-serif;
    background-color: #444;
    color: #eee;
}

.header{
    background-color: #666;

    /* altura de un elemento */
    height: 60px;
}

.header span{
    background-color: #fff;
    color: #444;
}

.main{
    background-color: #aaa;
    width: 1200px;
}

footer p{
    text-align: center;
}

.main__imagenes{
    height: 100px;
    /* Controla ek desvorde de los hijos de un elemento
    Si se desborda, entonces se oculta */
    /* overflow: hidden; */
    /* SI el contenido es muy grande en el eje Y, se va a dibujar un scroll */
    overflow-y: scroll;
}

.main__descripcion{
    height: 100px;
    width: 100px;
    background-color: orange;
}

.main__articulos{
    height: 150px;
    width: 150px;
    margin: 20px;
    background-color: plum;
}